{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}
<h1>Home Page</h1>
{% block body %}
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Blog for Free</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laborum, a quas facere eligendi debitis
            odit enim, deserunt quaerat sequi praesentium incidunt numquam amet ratione corrupti maxime, modi ad rerum?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quasi aspernatur possimus nobis sequi iste
            explicabo eius, magni exceptu voluptate suscipit quaerat nisi magnam impedit. Repellat deserunt voluptatem
            perferendis totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit qui officia
            voluptates delectus repellendus veritatis! Doloremque est tenetur, cum consequuntur explicabo quod non odit
            dolor voluptatem eum, maiores asperiores! At the smallest breakpoint, the collapse plugin is used to hide
            the links and show a menu button to toggle
            the collapsed content.</p>
        <p>
            <a class="btn btn-primary" href="/posts" role="button">View Blogs &raquo;</a>
        </p>
    </div>
</div>
{% endblock %}